<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="isSmallScreen() ? 'over' : 'side'" [opened]="!isSmallScreen()" class="app-sidenav">
    <div class="side-nav-content">
      <nav class="nav">
        <a routerLink="/products" routerLinkActive="active">Home</a>
        <a routerLink="/shopping-cart" routerLinkActive="active">Cart</a>
        <a routerLink="/orders" routerLinkActive="active">Orders</a>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-main-content">
    <div class="main-wrapper">
      <div class="content-header">
        <i class="material-icons hamburger" (click)="sidenav.toggle()">list</i>
        <h1 class="title"> E-Commerce</h1>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
        <!-- <app-product-list></app-product-list> -->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>