.app-sidenav-container {
    display: flex;
    height: 100%;
    flex: 1;

    .mat-drawer-side {
        border: 0;
    } 
    .side-nav-content {
        height: 100%;
        width: 200px;
        background: #000;
        color: #fff;

        .nav {
            padding-top: 60px;

            a {
                display: block;
                padding: 10px 5px 10px 10px;
                background: #464646;
                margin: 1px 0 0 0;
                cursor: pointer;
                text-decoration: none;
                color: #fff;
            }
            a.active {
                color: #000;
                background: #fff;
            }

        }
    }
    .top-bar {
        height: 50px;
    }
    .app-main-content {
        width: 100%;

        .title {
            margin: 10px;
        }

        .main-wrapper {            
            display: flex;
            flex-direction: column;
            height: 100%;

            .content-header, .main-content {
                padding: 0 0 0 20px;                
            }

            .content-header {
                height: 60px;
                padding: 0;
                box-shadow: 0 0 5px #000;
                text-align: center;
                position: relative;

                .hamburger {
                    display: none;
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    cursor: pointer;

                    @media (max-width: 720px) {
                        display: block;
                    }
                }
            }
            .main-content  {
                flex: 1;
                padding: 20px;                
            }
        }
    }
    
}